/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Variables */
:root {
  --text-color: #1e2431;
  --off-white-color: #f8f6f5;
  --link-color: #579bd0;
  --light-gray-color: #bac1c8;
  --dark-gray-color: #838b9a;
  --btn-color: #d7461f;
  --blue-color: #3f709c;
  --border-green-color: #70c99d;
  --header-background-color: #faf6f5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Makes the root font size to 10px for default browsers */
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}


h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.5rem;
  margin: 0;
  word-wrap: break-word;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 10px 0;
}

img {
  width: 100%;
}

span, .google, .apple, .facebook {
  cursor: pointer;
}

.content-wrapper {
  padding: 0 20px;
}

/* Animations */

@keyframes changeBtnColor {
  0% {
    background-color: #da9a88;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    background-color: var(--btn-color);
  }
}

/* Header */

header {
  background-color: var(--header-background-color);
  height: 180px;
  margin-bottom: 100px;
  padding-top: 20px;
}

header p {
  display: none;
}

.logo {
  width: 100px;
}

.img-robot {
  width: 70%;
  position: relative;
  left: 20%;
}

.language-container {
  display: none;
}

/* Main content */

.light-gray-text {
  color: var(--light-gray-color);
}
.blue-span {
  color: var(--link-color);
}

/* Socials signup */

.signup-with-socials {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.google {
  display: flex;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  width: 100%;
  justify-content: center;
  
}

.google p {
  font-size: 1.2rem;
}

.google-icon {
  width: 20px;
  margin-right: 5px;
}

.icon-bg {
  background-color: var(--off-white-color);
  padding: 10px 12px;
  border-radius: 5px;
  margin-left: 15px;
}

.facebook-icon {
  width: 15px;
  margin-top: 5px;
}

.apple-icon {
  width: 18px;
  margin-top: 3px;
}

.or {
  text-align: center;
  color: var(--light-gray-color);
}

/* Form */

.signup-form {
  display: block;
  margin-bottom: 30px;
}

input {
  display: block;
  width: 100%;
}

label {
  font-size: 1.4rem;
  color: var(--light-gray-color);
}

.input-field {
  border: none;
  outline: none;
  padding: 10px 0;
  border-bottom: 2px solid var(--off-white-color);
  margin-bottom: 15px;
}

.password-p {
  font-size: 1.4rem;
}

.borders {
  display: flex;
  margin-bottom: 30px;
}

.border {
  border-bottom: 5px solid grey;
  width: 25%;
  border-radius: 5px;
}

.border-green {
  border-color: var(--border-green-color);
}

.border-gray {
  border-color: var(--off-white-color);
}

.border + .border {
  margin-left: 5px;
}

.checkbox-div {
  display: flex;
}

input[type="checkbox"] {
  width: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

.checkbox-div p {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: var(--light-gray-color);
}

.checkbox-span {
  color: var(--link-color);
}

input[type="button"] {
  border: none;
  outline: none;
  background-color: var(--btn-color);
  color: var(--off-white-color);
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  animation-name: changeBtnColor;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
  backface-visibility: hidden;
}

/* Media Queries larger phones */

@media (min-width: 380px) {
  .img-robot {
    width: 60%;
    position: relative;
    left: 30%;
  }

  header {
    margin-bottom: 150px;
  }

  .google {
    padding: 0 10px;
  }
}
/* Media Queries Smaller tablets */

@media (min-width: 576px) {
  .img-robot {
    width: 50%;
    position: relative;
    left: 40%;
  }

  header {
    margin-bottom: 150px;
  }
}

/* Media Queries bigger tablets */

@media (min-width: 768px) {
  .site-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 100vh;
  }
  header {
    grid-column: 1 / 2;
    background-color: var(--header-background-color);
    height: 100%;
  }

  .content-wrapper p {
    color: var(--dark-gray-color);
  }

  header p {
    display: block;
  }

  main {
    grid-column: 2 / 6;
    background-color: #fff;
    padding-bottom: 100px;
  }

  .img-robot {
    width: 200px;
    left: 30%;
    margin-top: 100px;
  }

  .signup-text-wrapper {
    margin-top: 100px;
    margin-left: 100px;
  }

  .signup-form {
    margin: 0 100px;
  }

}

/* Media Queries desktop */
@media (min-width: 992px) {
  .img-robot {
    width: 300px;
    position: relative;
    left: 20%;
  }

  .language-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-right: 100px;
    color: var(--light-gray-color);
    font-size: 1.4rem;
  }

  .language-container i {
    margin-top: 3px;
  }

  .signup-text-wrapper {
    margin-top: 50px;
    width: 60%;
    margin: 50px auto 0 auto;
  }

  .google {
    width: 100%;
  }

  .google p {
    margin: 0 auto;
  }

  .signup-form {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .img-robot {
    left: 30%;
  }

  .google p {
    margin-right: 30%;
  }

  .signup-text-wrapper {
    width: 40%;
  }


  .signup-form {
    width: 40%;
  }
}
